<!DOCTYPE html>
<html>

<head>  
<meta charset="utf-8" />  
<title>Accountant - historia</title>  
<meta name="author" content="" />  
<meta name="description" content="" />  
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>
<div class="container">

    <header>
    </header>

    <main>
        <h1> Historia operacji od {{ context.a }} do {{ context.b }}</h1>
        {% for action in range (context.a, context.b + 1) %}
                {% for list_item in context.history[action] %}
                {{list_item }}
                {% endfor %}
        {% endfor %}
    </main>

    <footer>
    </footer>
</div>
</body>

</html>
